.form form {
    width: 30%;
    background-color: #ffffff;
    margin: 0 auto;

    flex-direction: column;
    padding: 24px;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
}

.form form .select {
    margin-top: 5px;
}

.form form .data-hora {
    margin-top: 5px;
    display: flex;
}

.form form .data-hora .data {
    display: flex;
    flex-direction: column;
}

.form form .data-hora .hora {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
}

.form form input:hover {
    filter: brightness(95%);
}

.form form select {
    width: 56%;
    height: 40px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 24px;
    margin-top: 5px;
}

.form form select:hover {
    filter: brightness(95%);
}

.form form .email {
    margin-top: 5px;
}

.form form .senha {
    margin-top: 5px;
}

.btn-sm{
    margin-top: 10px;
}